*.json
.DS_Store
*/__pycache__/
*.log
save/
system_regression/data/HeySQuAD_human
system_regression/data/HeySQuAD_machine
*.out
*pycahche*/
*.pyc
pretrained_models/*
system_regression/knn_cache/*
*.egg-info/
runs/
system_regression/asr/align/vocab
.idea/
pretrain-libspeech/
transformers_model/
system_regression/asr/whisper_tiny_steps
system_regression/bayesian_cache/
system_regression/predictions/*
build/
test/
*.txt
*.png
report/